/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  padding-top: 64px;
  padding-bottom: 64px;
  min-height: calc(100vh - 128px);
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-card {
  margin-bottom: 16px;
}
